* {
    box-sizing: border-box;
}

body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #FFCC00;
}

/* Main app container */
.app {
    height: 100vh;
    padding: 20px;
    border: 2px solid #0A285F;
}

h1 {
    margin: 0;
}


ul {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;

}

li {
    display: block;
    margin-bottom: 10px;
}


/* Base button styles */
.button {
    text-align: left;
    width: 100%;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    background-color: #0075BE;
    color: #FFCC00;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}