body {
    font-family: 'Bubblegum Sans', cursive;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    margin-bottom: 10px;
}



button {
    padding: 5px 18px;
    border: none;
    border-radius: 4px;
    background-color: #0075BE;
    color: #FFCC00;
}