* {
    box-sizing: border-box;
}

body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #FFCC00;
}


h1 {
    margin: 0;
}


ul {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;

}

li {
    display: block;
    margin-bottom: 10px;
}


/* Base button styles */
.button {
    text-align: left;
    width: 100%;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    background-color: #0075BE;
    color: #FFCC00;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1s;
}

.button:hover,
.button:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #e4000f;
    color: white;
}

/* MODAL */
/* 
#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.14);

    display: none;
    text-align: center;
}

#modal-container.is-visible {
    display: grid;
} */

.modal-content {
    background-color: #FFCC00;
}

/* .modal-close {
   position: absolute;
   right: 15px;
   border: none;
   background: none;
   text-decoration: underline;
   cursor: pointer;
   transition: opacity 0.2s;
}

.modal-close:hover,
.modal-close:focus {
    text-decoration: none;
    opacity: 0.5;
}  */