* {
    box-sizing: border-box;
}

body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #FFCC00;
}

ul {
    padding: 0;
}

/* Bootstrap navbar additional styles */
.navbar {
    background-color: #0075BE;
}

.navbar a {
    color: white;
}

/* Bootstrap button additional styles */
.button {
    background-color: #0075BE;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1s;
}

.button:hover,
.button:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #e4000f;
    color: white;
}

.pokemon-list li {
    background-color: inherit;
    border: none;
}

/* MODAL */
.modal div {
    border: none;
}

.modal-content {
    background-color: #FFCC00;
}
